# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# dependencies
/node_modules
/.pnp
.pnp.js
venv
/.venv
.env
# HERE IS WHERE THE FREAKING THINGY GETS HIDDEN

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Flask/Python specific
instance/
*.db
*.sqlite3


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
#idk python enough to tell you why this shouldnt go into git but maybe it has to do with some memory being recorded

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
