body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:#FFF0DC;
    color: #333;
    /* line-height:2; */

}
.home-container{
    padding-top: 10px;
    padding-bottom: 50px;
}

.notification-bar{
    background-color: #FFF0DC;
    color: #333;
    text-align:center;
    padding: 10px;
    font-weight: bold;
    position: fixed;
    top: -50px;
    width: 100%;
    /* z-index: 1000;
    transition: top 0.5s ease-in-out; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header{
    background: #543A14;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1{
    margin: 0;
    font-size: 2rem;
}

nav{
    margin-top:0.5rem;
}
nav button{
    background: #F0BB78;
    color: #fff;
    border: none;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius:4px;
    transition: background-color 0.3s ease;
}
nav button:hover{
    background: #F0BB78;
    cursor: pointer;
}
/* this is sidebar options */
.content-wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.view-box {
    flex: 3;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* #map-container {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    background-color: #eee; /* placeholder color 
}

#actual-map {
    width: 100%;
    height: 100%;
} */

.sidebar {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar section {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.sidebar h2 {
    margin-top: 0;
}