# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
venv
# HERE IS WHERE THE FREAKING THINGY GETS HIDDEN



# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
#idk python enough to tell you why this shouldnt go into git but maybe it has to do with some memory being recorded

npm-debug.log*
yarn-debug.log*
yarn-error.log*
