
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:#FFF0DC;
    color: #333;
    /* line-height:2; */

}
.home-container{
    padding-top: 80px;
}

.notification-bar{
    background-color: #FFF0DC;
    color: #333;
    text-align:center;
    padding: 10px;
    font-weight: bold;
    position: fixed;
    top: -50px;
    width: 100%;
    /* z-index: 1000;
    transition: top 0.5s ease-in-out; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header{
    background: #543A14;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1{
    margin: 0;
    font-size: 2rem;
}

/* Unlike the other CSS files inside of "parts" this one affects every single page in discriminatly
    What I mean by that is better explained through an example. So imagine you make a new page and 
    make a page that uses a Header and inside of that Header you use H1 or a Body. Assuming you have a
    blank CSS for that new page. This page will affect that new page. 

Think of this as a generic format while the CSS files inside of "parts" are more Tailored Made for that section.
For example the burger stack and the sidebar in the other files. 

*/